h1 {
    color: black;
    font-family: "Papyrus", Andale Mono, sans-serif; 
    font-size: 18px
}
p {
	color: Blue; 
	font-family: Sans-serif;
	font-size: 12px;
}
img {
	width: 100px
}
ul {
    font-family: Sans-serif;
	font-size: 12px;
}